/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #e0e1ea;
}

p,
ul {
    color: #403d39;
}

.page-title {
    background-color: #121415;
    height: 800px;
    position: relative;
    overflow: hidden;
}

.services {
    margin-bottom: 30px;
    color: #252422;
}

.about {
    margin-bottom: 30px;
    color: #252422;
}

.footer {
    background-color: #121415;
    color: #f6f7ff;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 10px;
}

.footer img {
    display: flex;
    align-items: start;
    width: 160px;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
}

.footer p {
    color: #7c7974;
    font-size: 14px;
}

.footer li {
    color: #7c7974;
    font-size: 14px;
    line-height: 2;
}

.footer ul li::marker {
    color: #f75600;
}

.footer-line {
    border-top-width: 2px;
    border-top-style: outset;
    border-color: #403d39;
    margin-top: 50px;
}

.footer-line p {
    color: #f6f7ff;
}

.navbar-login {
    background-color: transparent !important;
    color: #f75600;
}

.container a {
    color: #121415;
    font-size: 18px;
    font-weight: 500;
    transition: 0.4 s;
}

.nav-link:hover,
.container a:hover {
    color: #f75600;
}

.nav-item {
    padding-left: 20px;
}

.text-primary {
    color: #f75600 !important;
}

.content-box {
    margin: 15% 8%;
    max-width: 700px;
    text-align: left;
}

.content-box-sign {
    margin: 5% 8%;
    max-width: 700px;
    text-align: left;
}

.content-box h1,
.content-box-sign h1 {
    font-size: 72px;
    color: #f75600;
}

.content-box h3 {
    color: #f6f7ff;
}

.content-box p {
    font-size: 18px;
    color: #f6f7ff;
}

.btn-primary {
    background-color: #f75600;
    border-color: #f75600;
    border-radius: 8px;
    width: 150px;
    height: 50px;
}

.btn-primary:hover {
    color: #f6f7ff;
    background-color: #252422;
    border-color: #252422;
}

#icon-list {
    list-style: url("assets/img/check.svg") !important;
    text-align: start;
    /* Additional styling for the list can be added here */
}

#icon-list li {
    margin-left: 20px; /* Adjust the margin as needed to align text with the icon */
}

#content-box {
    box-sizing: border-box;
    border-radius: 12px;
    background-color: white;
    box-shadow: #121415;
}

.img-title {
    max-width: 100%;
}

.img-thumb {
    display: flex;
    align-items: start;
    padding: 30px;
    width: 70px;
    height: auto;
    max-width: 100%;
    background-color: #252422;
    padding: 10px;
    border-radius: 8px;
}

.img-thumb2 {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 30px;
    width: 60px;
    height: auto;
    max-width: 100%;
    background-color: #252422;
    padding: 10px;
    border-radius: 30px;
}

.form-label,
.form-text,
.form-check-label {
    color: #f6f7ff;
}

.form-label,
.form-text,
.form-check-label {
    color: #f6f7ff;
}

.mb-3 {
    color: #f6f7ff;
    width: 400px;
}

#usernameHelp {
    color: #7c7974;
}

/*FAHRYAN NAMBAH DISINI BUAT DASHBOARD*/
.navbar_dashboard {
    background-color: #ffffff;
    padding-top: 16px;
    height: 100px;
    position: relative;
    overflow: visible;
}

.card-title {
    text-align: center;
}
.card-atas {
    background-color: #121415;
    color: #f6f7ff;
}
.card-bawah {
    background-color: #f6f7ff;
    color: #121415;
}

